body {
  width: 100%;
  height: auto;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1510607663-c3e0510d8360?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cd85f6de8d018b501e24b22195dfcade&auto=format&fit=crop&w=2378&q=80');
  background-position: center top;
  background-attachment: fixed;
  filter: blur(var(--blur));
}

.container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  height: 7.5vh;
}

/* @media (min-height: 800px) {
  .navigation {
    height: 80px;
  }
  .menuButton {
    display: none;
  }

  .navItem {
    
  }
} */

.navItem {
  padding-right: 1.5vw;
}

.mainBody {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  height: 40vh;
  width: 100%;
}

.space {
  height: 10vh;
}


