body {
  width: 100vw;
  height: auto;
  background: #19091C;
  margin: 0;
  color: #E9E5EA;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  grid-row-gap: 5vh;
}

.header {
  background: #19091C;
  position: fixed;
  width: 100vw;
}

.fancy-font {
  font-family: 'Satisfy', cursive;
}

.fancy-font.big {
  font-size: 60px;
  text-shadow: 6px 6px 0px rgba(255,255,255,0.2);
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

.about-section{
  margin: 2rem;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-rows: auto;
}

.more-about-section {
  display: none;
}

.show {
  display: grid;
}

.arrow:hover {
  color: #8B728E;
  cursor: pointer;
}

.link-icons {
  font-size: 32px;
}

.link-icons a {
  color: #E9E5EA; 
}

.link-icons a:hover {
  color: #8B728E;
  cursor: pointer;

}

.my-work-link {
  grid-column: span 2;
}

.profile-name {
  margin: 0;
}

#profile-image {
  border-radius: 50%;
  border: solid 15px #37123C;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  /* height: 100vh; */
  background: #E9E5EA;
  color: #37123C;
  padding: 2rem;
}

.port-item {
  display: grid;
  grid-template-columns: 1fr;
  border: solid 1rem #37123C;
  align-items: center;
  justify-items: center;
}

.port-img {
  height: 15rem;
}

#home {
  grid-column: 1 / -1;
  height: 1rem;
  margin: 0;
}

#contact {
  grid-column: 1 / -1;
  height: 1rem;
  margin: 0;
}

.more-button {
  border-radius: 0;
  border: 2px solid #E9E5EA;
  background: #19091C;
  color: #E9E5EA;
}

.more-button:hover {
  cursor: pointer;
  border: 2px solid #8B728E;
  color: #8B728E;
}

.more-button-dark {
  border-radius: 0;
  border: 2px solid #19091C;
  background: #E9E5EA;
  color: #19091C;
}

.more-button-dark:hover {
  cursor: pointer;
  /* border: 2px solid #8B728E;
  color: #8B728E; */
  background: #8B728E;
}

.footer {
  background: #1E0A21;
}