body {
  width: 100vw;
  height: auto;
  background: #19091C;
  margin: 0;
  color: #F8FBF7;
  font-family: 'Lato', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  grid-row-gap: 5vh;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  background: #19091C;
  position: fixed;
  height: 5vh;
  width: 100vw;
  z-index: 7;
  justify-items: end;
  align-items: center;
}

.nav-link {
  border: none;
  background: #19091C;
  color: #F8FBF7;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

.fancy-font {
  font-family: 'Satisfy', cursive;
}

.big {
  font-size: 4rem;
  text-shadow: 6px 6px 0px rgba(255,255,255,0.2);
}

.med {
  font-size: 1.5rem;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

.home-section-left {
  display: grid;
  justify-items: center;
  align-items: center;
}

.home-section-right {
  margin: 2rem;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-rows: auto;
}

.not-show {
  display: none;
}

.show-more-about-section {
  padding-top: 3rem;
  display: grid;
}

.arrow:hover {
  color: #8B728E;
  cursor: pointer;
}

.hidden {
  font-size: 0;
}

.show {
  font-size: 1rem; 
}

.link-icons {
  font-size: 32px;
}

.link-icons a {
  color: #F8FBF7; 
}

.link-icons a:hover {
  color: #8B728E;
  cursor: pointer;

}

.nav-links {
  grid-column: 1 / -1;
}

.profile-name {
  margin: 0;
}

#profile-image {
  border-radius: 50%;
  border: solid 15px #37123C;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  background: #F8FBF7;
  color: #37123C;
  padding: 2rem;
  justify-items: center;
  height: 100vh;
}

.portfolio-item {
  position: relative;
  z-index: 2;
}

.port-item {
  background: #D8D7D8;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  /* border: solid 1rem #37123C; */
  align-items: center;
  justify-items: center;
  width: 28vw;
  height: 40vh;
  /* box-shadow: 10px 10px 5px 0px rgba(202,190,203,1); */
  overflow: hidden;
}

.slide {
  height: 0;
}

.port-item-slide {
  display: grid;
  background: rgba(25, 9, 28, 0.5);
  width: 28vw;
  height: 40vh;
  /* padding-top: 1rem;
  padding-left: 2rem; */
  position: absolute;
  z-index: 3;
  justify-items: center;
  align-items: center;
  animation-name: example;
  animation-duration: 0.1s;
}

.port-img {
  height: 200px;
  position: relative;
  z-index: 3;
}
/* 
.port-img-border {
  border: 2px solid #37123C;
  background: white;
} */

#home {
  grid-column: 1 / -1;
  height: 1rem;
  margin: 0;
}

#contact {
  grid-column: 1 / -1;
  height: 1rem;
  margin: 0;
}

.more-button {
  border-radius: 0;
  border: 2px solid #F8FBF7;
  background: #19091C;
  color: #F8FBF7;
}

.more-button:hover {
  cursor: pointer;
  border: 2px solid #8B728E;
  color: #8B728E;
}

.more-button a {
  color: #F8FBF7;
  text-decoration: none;
}

.more-button-dark {
  border-radius: 0;
  border: 2px solid #19091C;
  background: #F8FBF7;
  color: #19091C;
}

.more-button-dark:hover {
  cursor: pointer;
  /* border: 2px solid #8B728E;
  color: #8B728E; */
  background: #8B728E;
}

.slide-button {
  border-radius: 0;
  border: 3px solid #F8FBF7;
  background: rgba(25, 9, 28, 0);
  color: #F8FBF7;
  font-size: 2rem;
}

.slide-button:hover {
  cursor: pointer;
}

.footer {
  background: #1E0A21;
}

.pop-up {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 2rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 75vw; /* Full width */
  height: 75vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: #CDCCCD;
  margin-left: calc(100vw - 90vw);
  margin-right: calc(100vw - 90vw);
  margin-top: calc(100vh - 90vh);
  /* margin-bottom: calc(100vh - 90vh); */
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
}

.pop-up-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #CDCCCD;
  margin: auto;
  padding: 20px;
  width: 80%;
  color: #1E0A21;
}

.pop-header {
  grid-column: 1 / -1;
}

.more-button-dark.close-pop {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.pop-img {
  height: 50vh;
}

.pop-links {
  grid-column: 1 / -1;
  font-size: 2rem;
}

@keyframes example {
  0% {background-color:rgba(25, 9, 28, 0.1);}
  25% {background-color:rgba(25, 9, 28, 0.2);}
  50% {background-color:rgba(25, 9, 28, 0.3);}
  75% {background-color:rgba(25, 9, 28, 0.4);}
  100% {background-color:rgba(25, 9, 28, 0.5);}
}

h1 {
  font-family: 'Satisfy', cursive;
  color: #19091C;
  font-size: 3rem;
}